@using MovieRentalApp.Domain

@model IEnumerable<Movie>

<h2>Movies</h2>
@foreach (var m in Model)
{
    <div>
        <a href="/Movie/Details/@m.Id">@m.Title</a> - @m.Genre - @(m.IsAvailable ? "Available" : "Not Available")
        @if (m.IsAvailable)
        {
            <form method="post" action="/Rental/Rent/@m.Id">
                <button type="submit">Rent</button>
            </form>
        }
    </div>
}