@{
    ViewBag.Title = "Login";
}

<form method="post">
    <label>Card Number</label>
    <input type="text" name="cardNumber" />
    <button type="submit">Login</button>
    <p style="color:red">@ViewBag.Message</p>
</form>
